.search-bar {
    width: 30%;
    margin-bottom: 1rem;

    input {
        width: 94.5%;
        padding: 1rem 1rem;
        border-radius: .3rem;
        background-color: white;
    }

    
}
@media only screen and (max-width: 600px) {
    .search-bar {
        width: 80%;
    }
}