.App {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('./assets/401059.png');
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}